body{
    margin: 0;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 30,
  'wght' 400,
  
}



#title{
    
    background-color: lightpink;
    border-radius: 30px;
    padding-right: 100px;
    padding-bottom: 20px;
    margin-right:600px;
    font-size: 60px;
    color:rgba(240, 255, 80, 0.872);
    border-color: lightcyan;
    border-style:solid;
    border-width: 10px;
    margin-bottom: 10px;
    font-family: Agbalumo;
}

h1{
    text-align: center;
    color: white;
}



.user-login-form{
    background-color: #f892ab;
    width: 60%;
    margin: 0 auto;
    padding: 16px 0;
    color:ghostwhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10%;
    border-color: lightcyan;
    border-style:groove ;
    border-width: 10px;
}

.form-row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
    font-size: 20px;
    font-family: Agbalumo;
}

label{
    width: 150px;
}

#email,#password{
    width: 220px;
    height: 30px;
}

.user-login-btn{
    background-color: #f0eec4;
    width: 150px;
    height: 44px;
    border-radius: 22px;
    border-color: rgb(168, 153, 20);
    font-size: 25px;
    color:cornflowerblue;
    font-family: 'Yusei Magic', sans-serif;
}

.form-row a{
  color: rgb(227, 17, 17);
  text-decoration: none;
  font-family: Agbalumo;
}
.user-new{
    text-align: center;
    margin-top: 50px;
    
}
.user-new-btn{
    text-decoration: none;
    background-color: #f0eec4;
    padding: 20px ;
    border-radius: 22px;
    color: rgb(255, 129, 129);
    
}

